nav {
  padding: 5px 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.nav_bg_blur {
  background-color: rgba(255, 255, 255, 0.9);
}

.nav__dropdown {
  position: relative;
}

.nav__logo {
  width: 100px;
  object-fit: contain;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-color);
}

.home__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.nav__dropdown h1 {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  font-family: stencil;
  font-size: 3rem;
  text-decoration: none;
}

.nav__logo img {
  width: 100%;
  display: flex;
  padding: 0 10px;
  justify-content: center;
  /* align-items: center; */
  margin-left: auto;
  margin-right: auto;
}

nav button {
  background-color: transparent;
  padding: 10px;
  border: none;
  color: black;
}

.nav__icon a {
  padding-left: 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

nav svg {
  font-size: 25px;
  padding-right: 10px;
}

nav button svg:visited {
  color: black;
}

nav button:hover {
  transform: scale(1.2);
}

.dropdownShow {
  height: 84vh;
  overflow: scroll;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.859);
  position: absolute;
  top: 85px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  border-radius: 10px;
}

.nav__dropdown a,
h2 {
  font-size: 22px;
  letter-spacing: 1.5px;
  font-weight: 550;
  padding: 20px 0 20px 60px;
  width: 100%;
  text-decoration: none;
  color: white;
  text-align: left;
}

.nav__dropdown h2 {
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 1.8px;
  text-align: center;
  padding: 5px 0;
  text-transform: uppercase;
}

.dropdownShow a:last-of-type {
  border-bottom: none;
}

.hidden {
  display: none;
}

a,
button,
.nav_icon a {
  transition: all 0.2s ease-in-out;
}

a:hover,
button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media screen and (min-width: 426px) {
  nav {
    padding: 25px;
  }
  .nav__logo {
    position: absolute;
    top: 10px;
    left: calc(50% - 50px);
  }
  .dropdownShow {
    padding: 20px 0;
    top: 75px;
    width: 400px;
    height: 600px;
  }
  nav svg {
    font-size: 33px;
    margin: 0 5px;
    transition: all 0.2s ease-in-out;
  }
  nav svg:hover {
    transform: scale(1.2);
  }
}
