.home__container {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  margin: 0;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-content: space-around;
  /* justify-content: center; */
}

.home__title {
  position: relative;
  top: 60px;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 5000;
  text-shadow: -1.5px 4px 2px rgba(103, 102, 102, 0.64);
  font-family: stencil;
  color: red;
  text-align: center;
}

.home__info {
  font-size: 1.8rem;
  font-weight: 900;
  margin-top: 150px;
  list-style: none;
  font-family: stencil;
}

@media screen and (min-width: 700px) {
  .home__container {
    justify-content: center;
  }
  .home__container h1 {
    position: absolute;
    color: red;
    font-size: 8rem;
    letter-spacing: 5px;
    text-shadow: -3px 4px 12px rgb(0, 0, 0);
    top: 80px;
  }
  .home__container ul li {
    font-size: 2.5rem;
  }
}

/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
} */
