footer {
  width: 100%;
  height: 50px;
  /* position: absolute; */
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

footer div {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

footer a,
footer small {
  color: rgb(138, 137, 137);
  text-decoration: none;
}

footer a:visited {
  color: rgb(138, 137, 137);
}

footer a:active {
  transform: scale(1.2);
}

footer a:hover {
  color: black;
}

@media screen and (min-width: 700px) {
  footer {
    margin-top: 20px;
  }
}
