@font-face {
  font-family: stencil;
  src: url("assets/fonts/Allerta_Stencil/AllertaStencil-Regular.ttf");
}

@font-face {
  font-family: raleway;
  src: url("assets/fonts/Raleway/Raleway-VariableFont_wght.ttf"),
    url("assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf");
}

:root {
  --primary-color: #fc3e29;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.App {
  background-image: url("./assets/background.jpg");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
}

main {
  /* position: relative; */
  padding-top: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
